<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Catroid: An on-device visual programming system for Android devices
  ~ Copyright (C) 2010-2022 The Catrobat Team
  ~ (<http://developer.catrobat.org/credits>)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ An additional term exception under section 7 of the GNU Affero
  ~ General Public License, version 3, is available at
  ~ http://developer.catrobat.org/license_additional_term
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /-->

    <!--<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" tools:node="remove" />-->

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- bluetooth -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"
        tools:ignore="ProtectedPermissions" />

    <!-- gps -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- nfc -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" /><uses-feature
    android:name="android.hardware.camera"
    android:required="true" />

    <!-- foreground services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES" />

    <!-- Также добавьте это объявление службы mDNS внутри тега <application> -->
    <!-- Это поможет системе понять, что вы ищете сервисы в локальной сети -->

    <queries>
        <!-- Разрешает приложению находить сервисы Google Cast -->
        <intent>
            <action android:name="com.google.android.gms.cast.CATEGORY_CAST" />
        </intent>
    </queries>

    <application
        android:name=".CatroidApplication"
        android:allowBackup="false"
        android:icon="${appIcon}"
        android:label="${appName}"
        android:theme="@style/Catroid"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="false"
        tools:ignore="UnusedAttribute"
        tools:replace="android:label,android:allowBackup,android:name"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.SettingsActivity"
            android:noHistory="true"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
            <!--android:screenOrientation="portrait"-->

        <activity
            android:name=".ui.MainMenuActivity"

            android:exported="true"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="${intentFilterScheme}"
                    android:host="${intentFilterHost}"
                    android:pathPattern="${intentFilterPathPattern}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="vnd.android.nfc"
                    android:host="ext"
                    android:pathPrefix="/catrobat.com:catroid" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MarketingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />

        <activity
            android:name=".ui.NfcTagsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />

        <activity
            android:name=".ui.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />

        <activity
            android:name=".ui.ProjectUploadActivity"

            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".stage.StageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/stage"

            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <activity
            android:name=".stage.GameActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/TransparentActivity"
        />


        <activity
            android:name=".ui.ProjectListActivity"
            android:exported="true"

            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter
                android:icon="${appIcon}"
                android:label="Import Project">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.catrobat\\.newtrobat" />
            </intent-filter>
            <intent-filter
                android:icon="${appIcon}"
                android:label="Import Project">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip" />
                <data android:mimeType="application/octet-stream"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ProjectActivity"

            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:exported="true"
            android:name=".ui.SpriteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".ui.SignInActivity"

            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".ui.recyclerview.backpack.BackpackActivity"

            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".ui.recyclerview.backpack.ActorAndObjectActivity"

            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".ui.ScratchConverterActivity"

            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity
            android:name=".ui.ScratchProgramDetailsActivity"

            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".soundrecorder.SoundRecorderActivity"
            android:exported="true"
            android:label="@string/soundrecorder_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".editor.EditorActivity"
            android:label="@string/title_activity_editor"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>

        <activity
            android:name=".visualplacement.VisualPlacementActivity"/>

        <activity
            android:name=".pocketmusic.PocketMusicActivity"
            android:noHistory="true"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:label="@string/add_sound_music"
            android:icon="@drawable/ic_pocketmusic"/>

        <activity
            android:name=".bluetooth.ConnectBluetoothDeviceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".ui.filepicker.FilePickerActivity" />

        <activity
            android:name=".libraryeditor.data.LibraryEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.NewCatroid.LibraryEditor"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".transfers.project.ProjectUploadService"
            android:foregroundServiceType="dataSync"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name="org.catrobat.paintroid.MainActivity"
            android:theme="@style/Theme.PaintroidFix"
            tools:replace="android:theme" />

        <!--
          Также можно добавить WelcomeActivity, если вы ее используете.
          Но для креша важна именно MainActivity.
        -->
        <activity
            android:name="org.catrobat.paintroid.WelcomeActivity"
            android:theme="@style/Theme.PaintroidFix"
            tools:replace="android:theme" />

        <activity
            android:name=".utils.git.AuthCallbackActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="github-callback"
                    android:scheme="newcatroid" />
            </intent-filter>
        </activity>

        <service
            android:name=".transfers.project.ProjectDownloadService"
            android:foregroundServiceType="dataSync" />
        <service android:name=".transfers.MediaDownloadService" />
        <service android:name=".utils.notifications.StatusBarNotificationManager$NotificationActionService" />

        <service
            android:name=".cast.CastService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.cast.remote_display.REMOTE_DISPLAY_SERVICE" />
            </intent-filter>
        </service>

        <provider
            android:authorities="${applicationId}.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
