<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Этот тег <application> будет слит с основным. -->
    <!-- Мы не повторяем здесь все атрибуты, такие как android:name, android:icon и т.д. -->
    <application
        tools:replace="android:theme"
        android:theme="@style/Catroid">

        <!-- Эта секция останется для удаления intent-filter'ов -->
        <activity
            android:name=".ui.ProjectListActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter tools:node="removeAll" />
        </activity>

        <activity
            android:name="org.catrobat.paintroid.MainActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter tools:node="removeAll" />
        </activity>

    </application>
</manifest>