<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:replace="android:theme"
        android:theme="@style/AppTheme.Player">
        <!-- app_name_player мы создадим ниже -->

        <!-- Удаляем intent-фильтры из редакторских Activity — они не нужны в плеере -->
        <activity
            android:name=".ui.ProjectListActivity"
            tools:node="merge">
            <intent-filter tools:node="removeAll" />
        </activity>
        <activity
            android:name="org.catrobat.catroid.ui.neopaint.NeoPaintActivity"
            tools:node="merge">
            <intent-filter tools:node="removeAll" />
        </activity>
        <activity
            android:name=".ui.MainMenuActivity"
            tools:node="merge">
            <intent-filter tools:node="removeAll" />
        </activity>
    </application>
</manifest>