<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".apkbuild.RuntimeApp"
        tools:replace="android:name">

        <!-- Runtime loader activity - единственный launcher -->
        <activity
            android:name=".apkbuild.RuntimeLoaderActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustNothing"
            tools:replace="android:theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Удаляем все остальные activities из main manifest -->
        <activity
            android:name=".ui.MainMenuActivity"
            tools:node="remove" />
        <activity
            android:name=".ui.ProjectListActivity"
            tools:node="remove" />
        <activity
            android:name=".ui.SpriteActivity"
            tools:node="remove" />
        <activity
            android:name="org.catrobat.paintroid.MainActivity"
            tools:node="remove" />
        <activity
            android:name=".ui.ProjectActivity"
            tools:node="remove" />
    </application>

</manifest>